<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="provider=sqloledb;data source=(local);User ID=sa;pwd=as;Initial Catalog=xymyoa" providerName="xymyoa" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
